.container{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin:10px;
    width:100%;
}
.uploading{
    display:flex;
    width:100%;

}
#jb,#resume{
    display:flex;
    width:100%;
    flex-direction:column;
    align-items:center;
}
#resume{
   display:none;
}
.file-upload,.file-upload-text {
    display:flex;
    width:80%;
    border: 2px dashed #ccc;
    border-radius:10px;
    border-color:blue;
    padding: 10px;
    align-items:center;
    justify-content:center;
    height:200px;
    margin:50px;
    flex-direction:column;
}
#file-upload{
    background-color: red;
}
.file-upload-text{
    display:none;
}
.file-upload-text textarea{
    width:100%;
    height:100%;
    border-color:white;
}
.file-upload-text textarea:focus{
    outline:none;
}
.file-upload button,.file-upload-text button{
    border:none;
    background-color:white;
    color:blue;
    cursor:pointer;
}
.file-upload input[type="file"] {
    display: none;
}
.file-upload label {
    display: block;
    cursor: pointer;
}
#job-description-label,#resume-content-label{
    color:blue;
    border:2px solid blue;
    border-radius:5px;
    padding:20px;
    text-align:center;
    margin:30px;
}
.button{
    height:30px;
    width:100px;
}
#previous-button{
    display:none;
}
#submit-button{
    margin:10px;
}
table {
    width: 40%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    border: 1px solid #dddddd; 
}
th {
    background-color: #f2f2f2;
    text-align: left;
    padding: 8px;
    border: 1px solid #dddddd; 
}
td {
    padding: 8px;
    border: 1px solid #dddddd; 
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
tr:hover {
    background-color: #f5f5f5;
}
#instance-upload-file{
    max-width:100%;
    max-height:100%;
    display:flex;
}
.pdf-img{
    border-radius:10px;
    margin:10px;
    padding:10px;
    background: #d4edda;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.pdf-img p{
    width:80px;
    height:100px;
    overflow:hidden;
    padding:0px;
    margin:0px;
}
.cross-buttons{
    height:10px;
    width:10px;
    background-color:lightcoral;
    border-radius:100px;
    content:'x';
    cursor:pointer;
    border:2px solid black;
    display:flex;
    align-items:center;
    justify-content:center;
    font-family:Arial, sans-serif;
    line-height:1;
    font-size:10px;
}
#instance-file-cross-button{
    position:relative;
    left:73px;
    top:-7px;
}
#instance-jb-cross-button{
    position: absolute;
    top:5px;
    right: 5px;
    height:10px;
    width:10px;
}
#instance-job-description{
    position: relative;
    display: none;
    width:30%;
    height:60%;
    border-radius: 10px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    background: #d4edda;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
#alert-box{
    position:absolute;
    top:35%;
    left:35%;
    width: 30%;
    height: 30%;
    background: #d4edda;
    border: 1px solid #ccc;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #333;
    opacity: 0;
    transition:all 0.3s ease;
}
.alert-class{
    opacity: 1;
}
#blur-box{
    position:absolute;
    height: 100%;
    width:100%;
    background: rgba(255, 255, 255, 0.9);
    border: 0px solid #ccc;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #333;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}
#alert-cross-button{
    position:absolute;
    top:5px;
    right:5px;
}