html,body{
    height: 100%;
    text-align: center;
}
.container{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin:10px;
    width:100%;
    height: 100%;
}
#resume-nav{
    width:40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle-button{
    width:50px;
    height: 50px;
    color:black;
    margin: 0px;
    border-radius: 50px;
    border: 2px dashed black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
}
#job-button{
    margin-right: 0px;
    background-color: #d4edda;
    border: 2px solid black;
}

#resume-button{
    margin-left: 0px;
}
.lines{
    height:2px;
    width:30%;
    border-top: 3px dotted black;
    border-bottom:white;
}
#uploading{
    display:flex;
    width:55%;
    height:40%;
    flex-direction: column;
}
#jb{
    display:flex;
    width:100%;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    height:100%;
}
#resume{
   display:none;
   width:100%;
   flex-direction:column;
   align-items:center;
   justify-content: center;
   height:100%;
}
#result{
    display: none;
    flex-direction: column;
    align-items: center;
    margin:50px;
    width:90%;
}
.file-upload{
    display:flex;
    width:80%;
    border: 2px dashed #ccc;
    border-radius:10px;
    padding: 10px;
    align-items:center;
    justify-content:center;
    height:100%;
    margin:50px;
    flex-direction:column;
    margin:0px;
}
#resume-file-upload,#resume-file-upload-text{
    display:flex;
    width:80%;
    border: 2px dashed #ccc;
    border-radius:10px;
    padding: 10px;
    align-items:center;
    justify-content:center;
    height:1000px;
    margin:50px;
    flex-direction:column;
    margin:0px;
}
#job-file-upload-text,#resume-file-upload-text{
    display:none;
}
#job-file-upload-text{
    position: relative;
}
#job-file-upload-text textarea,#resume-file-upload-text textarea{
    width:100%;
    height:100%;
    border-color:white;
}
#job-file-upload-text textarea:focus,#resume-file-upload-text textarea:focus{
    outline:none;
}

.jb-button{
    border:none;
    background-color:white;
    color:black;
    cursor:pointer;
}
.resume-button{
    border:none;
    background-color:white;
    color:black;
    cursor:pointer;
}
#job-file-upload input[type="file"] ,#resume-file-upload input[type="file"]{
    display: none;
}
#job-description-label,#resume-content-label{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:black;
    border:2px solid black;
    border-radius:5px;
    padding:20px;
    text-align:center;
    margin:30px;
    width:30%;
    height:30%;
    cursor: pointer;
}
.button{
    width:100px;
    height: 40px;
    border-radius: 10px;
    margin:10px;
}
#previous-button{
    display:none;
}
#submit-button{
    background-color: #d4edda;
}
table {
    width: 40%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    border: 1px solid #dddddd; 
}
th {
    background-color: #f2f2f2;
    text-align: left;
    padding: 8px;
    border: 1px solid #dddddd; 
}
td {
    padding: 8px;
    border: 1px solid #dddddd; 
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
tr:hover {
    background-color: #f5f5f5;
}
#instance-upload-file,#resume-content-file{
    display: none;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}
#resume-content-text{
    display: flex;
    height: 100%;
}
.pdf-img{
    height:100px;
    width:80px;
    border-radius:10px;
    margin:10px;
    padding:10px;
    background: #d4edda;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}
.pdf-img p{
    width:80px;
    height:100px;
    overflow:hidden;
    padding:0px;
    margin:0px;
}
.cross-buttons{
    height:10px;
    width:10px;
    background-color:lightcoral;
    border-radius:10px;
    content:'x';
    cursor:pointer;
    border:2px solid black;
    display:flex;
    align-items:center;
    justify-content:center;
    font-family:Arial, sans-serif;
    line-height:1;
    font-size:10px;
}
#instance-file-cross-button{
    height:7px;
    width:7px;
    border-radius:7px;
    position:relative;
    right:-98%;
    top:-50%;
}
#instance-jb-cross-button{
    position: absolute;
    top:5px;
    right: 5px;
    height:10px;
    width:10px;
}
#instance-job-description{
    position: relative;
    display: none;
    width:30%;
    height:60%;
    border-radius: 10px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    background:#d4edda;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
#alert-box{
    position:absolute;
    top:35%;
    left:35%;
    width: 30%;
    height: 30%;
    background: #d4edda;
    border: 1px solid #ccc;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #333;
    opacity: 0;
    transition:all 0.3s ease;
    z-index: 15;
}
.alert-class{
    opacity: 1;
}
.blur-box{
    position:fixed;
    height: 300vh;
    width:100%;
    background: rgba(255, 255, 255, 0.9);
    border: 0px solid #ccc;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #333;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    z-index: 10;
    
}
#alert-cross-button{
    position:absolute;
    top:5px;
    right:5px;
}
#resume-pdf{
    height:100px;
    width:80px;
    border-radius:10px;
    margin:10px;
    padding:10px;
    background: #d4edda;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
#resume-pdf p{
    overflow: hidden;
}
#resume-list-div{
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    border: 2px solid black;
    justify-content: center;
    padding: 20px;
    border-radius:20px;
    width: 100%;
    height:50vh;
}
#resume-list-outer-div{
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}
.resume-cross-buttons{
    height:10px;
    width:10px;
    position: relative;
    right:27px;
    top:13px;
    background-color:lightcoral;
    border-radius:10px;
    content:'x';
    cursor:pointer;
    border:2px solid black;
    display:flex;
    align-items:center;
    justify-content:center;
    font-family:Arial, sans-serif;
    line-height:1;
    font-size:10px;
}
#continue-button{
    border:2px solid black;
    background-color:white;
    color:black;
    cursor:pointer;
    position: absolute;
    width:80px;
    height: 30px;
    left:85%;
    top:85%;
}
#rating{
    height: 50%;
    display: none;
    flex-direction: column;
}
#heading-resume {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

th,
td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.checked {
    color: orange;
}
#loader {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #3498db; 
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    position:absolute;
}
#loader-box{
    position: fixed;
    height: 100%;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#jb-copy-paste-button{
    color: black;
}
#download-button{
    height: 30px;
    width: 80px;
    margin-left: 40px;
    background-color: #d4edda;
    border-radius: 5px;
}
.copy-paste-button{
    border: none;
    background-color: white;
}
#resume-list-outer-div2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    width: 60%;
}
#add-resume-button{
    display: none;
    width: 100px;
    height: 40px;
}
#submit-div{
    display: flex;
    margin-bottom: 100px;

}
#remove-all-button{
    background-color: lightcoral;
}