{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Job Application Form</title>
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <div id="blur-box"></div>
    <div id="alert-box">
        <div id="alert-cross-button" class="cross-buttons"onclick="remove_alert_box()">x</div>
        <p>information</p>
    </div>
<div class="container">
    <button class="button" id='continue-button' onclick="go_to_resume()">continue</button>
    <button class="button" id='previous-button' onclick="go_to_jb()">previous</button>
        <div class="uploading">
            <div id="jb">
                <h2>Job Description</h2>
                <div class="file-upload">
                    <div id="instance-job-description"></div>
                    <label for="job-description-file" id="job-description-label">Upload or Drop Job Description <p> as .pdf or .docx file </p></label>
                    <input type="file" id="job-description-file" onchange="display_jb_description_file(true)" accept=".pdf,.docx">
                    <button onClick="disable_file(this)" id='jb-copy-paste-button'> copy paste</button>
                </div>
                <div class="file-upload-text">
                    <textarea id="job-description-text" placeholder="Type or paste resumes here"></textarea>
                    <button onClick="disable_text(this)">upload or drop</button>
                </div>
            </div>
            <div id="resume">
                <h2>Resume Upload</h2>
                <div class="file-upload">
                    <div id="instance-upload-file"></div>
                    <label for="resume-content-file" id="resume-content-label">Upload or Drop Resume Content <p> as .pdf or .docx file </p></label>
                    <input onchange="showSelectedResumeName(this)"type="file" id="resume-content-file" accept=".pdf,.docx" multiple>
                    <button onClick="disable_file(this)" id='resume-copy-paste-button'> copy paste</button>

                </div>
                <div class="file-upload-text">
                    <textarea id="resume-content-text" placeholder="Type or paste resumes here"></textarea>
                    <button onClick="disable_text(this)">upload or drop</button>
                </div>
                <button class="button" onclick="uploadResume()">Add</button>
                <button class="button" id="submit-button">Submit</button>
                <table id="resume-list-div">
                    <tr>
                        <td>No File Selected</td>
                    </tr>
                </table>
            </div>
        </div>
</div>
<script src="{% static 'script.js' %}"></script>
</body>
</html>
