{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Job Application Form</title>
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Include PDF.js library -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.11.338/pdf.min.js"></script>
  <!-- Include mammoth.js library -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mammoth/1.5.1/mammoth.browser.min.js"></script>
</head>
<body>
    <div class="blur-box" id="blur-box"></div>
    <div class="blur-box" id='loader-box'>
        <div id='loader'></div>
    </div>
    <div  id="alert-box">
        <div id="alert-cross-button" class="cross-buttons"onclick="remove_alert_box()">x</div>
        <p>information</p>
    </div>
<div class="container">
    <!--<button class="button" id='previous-button' onclick="go_to_jb()">previous</button>-->
    <div id='resume-nav'>
        <div class='circle-button' id='job-button' onclick='go_to_jb()'>1
        </div>
        <div class='lines' id='job-resume-line'>
        </div>
        <div class='circle-button' id='resume-button' onclick='go_to_resume()'>2
        </div>
        <div class='lines' id='resume-rating-line'>
        </div>
        <div class='circle-button' id='rating-button' onclick='go_to_rating()' >3
        </div>
    </div>
        <div id="uploading">
            <div id="jb">
                <h2>Job Description</h2>
                <div class="file-upload" id='job-file-upload'>
                    <div id="instance-job-description"></div>
                    <label for="job-description-file" id="job-description-label"><p>Upload or Drop Job Description</p> <p> as .pdf or .docx file </p></label>
                    <input type="file" id="job-description-file" onchange="display_jb_description_file(true)" accept=".pdf,.docx">
                    <button class="jb-button" onClick="disable_job_file()" id='jb-copy-paste-button'> copy paste</button>
                </div>
                <div class="file-upload" id='job-file-upload-text'>
                    <textarea id="job-description-text" placeholder="Type or paste resumes here"></textarea>
                    <button class="jb-button" onClick="disable_job_text()" id='job-copy-paste-button'>upload or drop</button>
                    <button id='continue-button' onclick="go_to_resume()">continue</button>
                </div>
            </div>
            <div id="resume">
                <h2>Resume Upload</h2>
                <div id='resume-file-upload'>
                    <div id="instance-upload-file"></div>
                    <label for="resume-content-file" id="resume-content-label">Upload or Drop Resume Content <p> as .pdf or .docx file </p></label>
                    <input onchange="showSelectedResumeName(this)"type="file" id="resume-content-file" accept=".pdf,.docx" multiple>
                    <button onClick="disable_resume_file()" id='resume-copy-paste-button'> copy paste</button>
                </div>
                <div id='resume-file-upload-text'>
                    <textarea id="resume-content-text" placeholder="Type or paste resumes here"></textarea>
                    <button onClick="disable_resume_text()">upload or drop</button>
                </div>
            </div>
        </div>
        <div id='result'>
            <button class="button" onclick="uploadResume()">Add</button>
            <button class="button" id="submit-button" onclick="submitResume()">Submit</button>
            <div id='resume-list-div'>
            </div>
        </div>
        <div id='rating'>
            <div id="heading-resume">
                <h2>Resume Rating</h2>
                <button id='download-button' onclick='download_pdf()'>Download</button>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Resume Name</th>
                        <th>Rating Score</th>
                        <th>Rating</th>
                    </tr>
                </thead>
                <tbody id='table-body'>
                </tbody>
            </table>
        </div>
        
</div>
<script src="{% static 'script.js' %}"></script>
<script src="{% static 'loader_alert.js' %}"></script>
<script src="{% static 'transition.js' %}"></script>
<script src="{% static 'job_section.js' %}"></script>
<script src="{% static 'resume_section.js'%}"></script>
<script src="{% static 'rating_section.js'%}"></script>
</body>
</html>
